body {
    margin: 0;
}

.league {
    display: flex;
    justify-content: center;
    align-items: center;
}

.division {
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 0 10px;
}

.team-page {
    text-decoration: none; 
    display: block;
}

.team {
    height: 60px;
    margin: 5px;
    border-radius: 5px;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darkens the div (70% opacity) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 5px;
    pointer-events: none; /* Allows clicks to pass through to the link */
}

.team:hover .team-overlay {
    opacity: 1;
}

.team-name {
    font-weight: bold;
    font-size: 0.9rem;
}

.team-record {
    font-size: 0.8rem;
}

.division-al {
    font-family: Arial;
    color: red;
}

.division-nl {
    font-family: Arial;
    color: darkBlue;
}