body {
    margin: 0;
}

.league {
    display: flex;
    justify-content: center;
    align-items: center;
}

.division {
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 0 10px;
}

.team-page {
    text-decoration: none; 
    display: block;
}

.team {
    height: 60px;
    margin: 5px;
    border-radius: 5px;
}

.division-al {
    font-family: Arial;
    color: red;
}

.division-nl {
    font-family: Arial;
    color: darkBlue;
}