<html>
<head>
    <title>MLB Standings</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="standings">
        <div class="league">
            <div class="division">
                <h1 class="division-al">AL East</h1>
                {% for team in data['AL East'] %}
                    <div href={{url_for('teamPage', id=team['id']}}class="team" style="background-color:{{team['color']}}"><img style="width:60px;" src={{team['logoImage']}}></div>
                {% endfor %}
            </div>
            <div class="division">
                <h1 class="division-al">AL Central</h1>
                {% for team in data['AL Central'] %}
                    <div class="team" style="background-color:{{team['color']}}"><img style="width:60px;" src={{team['logoImage']}}></div>
                {% endfor %}
            </div>
            <div class="division">
                <h1 class="division-al">AL West</h1>
                {% for team in data['AL West'] %}
                    <div class="team" style="background-color:{{team['color']}}"><img style="width:60px;" src={{team['logoImage']}}></div>
                {% endfor %}
            </div>
        </div>
        <div class="league">
            <div class="division">
                <h1 class="division-nl">NL East</h1>
                {% for team in data['NL East'] %}
                    <div class="team" style="background-color:{{team['color']}}"><img style="width:60px;" src={{team['logoImage']}}></div>
                {% endfor %}
            </div>
            <div class="division">
                <h1 class="division-nl">NL Central</h1>
                {% for team in data['NL Central'] %}
                    <div class="team" style="background-color:{{team['color']}}"><img style="width:60px;" src={{team['logoImage']}}></div>
                {% endfor %}
            </div>
            <div class="division">
                <h1 class="division-nl">NL West</h1>
                {% for team in data['NL West'] %}
                    <div class="team" style="background-color:{{team['color']}}"><img style="width:60px;" src={{team['logoImage']}}></div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>