<html>
<head>
    <title>MLB Standings</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="standings">
        <div class="league">
            <div class="division">
                <p>AL East</p>
                <ul>
                    <li class="team">{{data['AL East'][0]}}</li>
                    <li class="team">{{data['AL East'][1]}}</li>
                    <li class="team">{{data['AL East'][2]}}</li>
                    <li class="team">{{data['AL East'][3]}}</li>
                    <li class="team">{{data['AL East'][4]}}</li>
                </ul>
            </div>
            <div class="division">
                <p>AL Central</p>
                <ul>
                    <li class="team">{{data['AL Central'][0]}}</li>
                    <li class="team">{{data['AL Central'][1]}}</li>
                    <li class="team">{{data['AL Central'][2]}}</li>
                    <li class="team">{{data['AL Central'][3]}}</li>
                    <li class="team">{{data['AL Central'][4]}}</li>
                </ul>
            </div>
            <div class="division">
                <p>AL West</p>
                <ul>
                    <li class="team">{{data['AL West'][0]}}</li>
                    <li class="team">{{data['AL West'][1]}}</li>
                    <li class="team">{{data['AL West'][2]}}</li>
                    <li class="team">{{data['AL West'][3]}}</li>
                    <li class="team">{{data['AL West'][4]}}</li>
                </ul>
            </div>
        </div>
        <div class="league">
            <div class="division">
                <p>NL East</p>
                <ul class="division">
                    <li class="team">{{data['NL East'][0]}}</li>
                    <li class="team">{{data['NL East'][1]}}</li>
                    <li class="team">{{data['NL East'][2]}}</li>
                    <li class="team">{{data['NL East'][3]}}</li>
                    <li class="team">{{data['NL East'][4]}}</li>
                </ul>
            </div>
            <div class="division">
                <p>NL Central</p>
                <ul class="division">
                    <li class="team">{{data['NL Central'][0]}}</li>
                    <li class="team">{{data['NL Central'][1]}}</li>
                    <li class="team">{{data['NL Central'][2]}}</li>
                    <li class="team">{{data['NL Central'][3]}}</li>
                    <li class="team">{{data['NL Central'][4]}}</li>
                </ul>
            </div>
            <div class="division">
                <p>NL West</p>
                <ul class="division">
                    <li class="team">{{data['NL West'][0]}}</li>
                    <li class="team">{{data['NL West'][1]}}</li>
                    <li class="team">{{data['NL West'][2]}}</li>
                    <li class="team">{{data['NL West'][3]}}</li>
                    <li class="team">{{data['NL West'][4]}}</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>